body{
  background-color: #FDF3E7;
  color: #3B3738;
  border-style: solid;
  border-color: #7E8F7C;
  border-width: 15px;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #3B3738;

}

p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #3B3738;
}

#disappear {
  display: none;
}

.mainPara {
  text-align: center;
  font-size: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #3B3738;
}

#para {
  text-align: center;
  font-size: 30px;
  color: #3B3738;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.container > div {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 33%;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
